Medical.Apartment.Silverlight.UI/Service References/ApartmentService/ApartmentService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49666/Services/ApartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AspUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptCount" type="xs:int" />
      <xs:element minOccurs="0" name="FailedPasswordAttemptWindowStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InputPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsResetPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSavedQAError" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLockoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoweredEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoweredUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinRoleLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewGenPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordFormat" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderUserKey" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspUser" nillable="true" type="tns:AspUser" />
  <xs:complexType name="ArrayOfRoleComponentPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleComponentPermission" nillable="true" type="tns:RoleComponentPermission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleComponentPermission" nillable="true" type="tns:ArrayOfRoleComponentPermission" />
  <xs:complexType name="RoleComponentPermission">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComponentId" type="xs:int" />
          <xs:element minOccurs="0" name="ComponentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCustom" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleComponentPermissionId" type="xs:int" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WriteRight" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleComponentPermission" nillable="true" type="tns:RoleComponentPermission" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Concurrency" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CreatedAndUpdatedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdatedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RecordInformationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
  <xs:complexType name="Organisation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorisationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationId" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayIndex" type="xs:int" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgAdminUsers" nillable="true" type="tns:ArrayOfUserRoleAuth" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Organisation" nillable="true" type="tns:Organisation" />
  <xs:complexType name="ContactInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ContactInformationId" type="xs:int" />
          <xs:element minOccurs="0" name="ContactTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DoB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Visa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisaValidFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VisaValidTo" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInformation" nillable="true" type="tns:ContactInformation" />
  <xs:complexType name="ArrayOfUserRoleAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleAuth" nillable="true" type="tns:UserRoleAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleAuth" nillable="true" type="tns:ArrayOfUserRoleAuth" />
  <xs:complexType name="UserRoleAuth">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCustom" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserRoleAuthId" type="xs:int" />
          <xs:element minOccurs="0" name="WholeOrg" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="WriteRight" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRoleAuth" nillable="true" type="tns:UserRoleAuth" />
  <xs:complexType name="Site">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbbreviatedName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Availability" type="xs:int" />
          <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayIndex" type="xs:int" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="LicenseKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="PropCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="TagVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagVersionID" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagVersion" nillable="true" type="tns:TagVersion" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityId" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="District" nillable="true" type="tns:District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrict" nillable="true" type="tns:ArrayOfDistrict" />
  <xs:complexType name="District">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityId" type="xs:int" />
          <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
  <xs:complexType name="ArrayOfContactInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactInformation" nillable="true" type="tns:ArrayOfContactInformation" />
  <xs:complexType name="ArrayOfOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organisation" nillable="true" type="tns:Organisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisation" nillable="true" type="tns:ArrayOfOrganisation" />
  <xs:complexType name="ArrayOfAspUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspUser" nillable="true" type="tns:AspUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspUser" nillable="true" type="tns:ArrayOfAspUser" />
  <xs:complexType name="ArrayOfSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Site" nillable="true" type="tns:Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSite" nillable="true" type="tns:ArrayOfSite" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="DoB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactInformation" nillable="true" type="tns:ContactInformation" />
          <xs:element minOccurs="0" name="ContactInformationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DoB" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="ArrayOfComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="tns:Component" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponent" nillable="true" type="tns:ArrayOfComponent" />
  <xs:complexType name="Component">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="ComponentId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Component" nillable="true" type="tns:Component" />
  <xs:complexType name="ArrayOfAspRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspRole" nillable="true" type="tns:AspRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspRole" nillable="true" type="tns:ArrayOfAspRole" />
  <xs:complexType name="AspRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="CanDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoweredRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspRole" nillable="true" type="tns:AspRole" />
  <xs:complexType name="ArrayOfMedicine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicine" nillable="true" type="tns:Medicine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicine" nillable="true" type="tns:ArrayOfMedicine" />
  <xs:complexType name="Medicine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeginPeriodQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InputPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SoldQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Medicine" nillable="true" type="tns:Medicine" />
  <xs:complexType name="ArrayOfMedicineInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicineInput" nillable="true" type="tns:MedicineInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicineInput" nillable="true" type="tns:ArrayOfMedicineInput" />
  <xs:complexType name="MedicineInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InputPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
          <xs:element minOccurs="0" name="MedicineInputId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MedicineInput" nillable="true" type="tns:MedicineInput" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsLegacy" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganisationId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
  <xs:complexType name="Image">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageContent" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ImageId" type="xs:int" />
          <xs:element minOccurs="0" name="ImageSmallContent" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ImageTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="ItemId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="ArrayOfTreatment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Treatment" nillable="true" type="tns:Treatment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatment" nillable="true" type="tns:ArrayOfTreatment" />
  <xs:complexType name="Treatment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
          <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TreatmentId" type="xs:int" />
          <xs:element minOccurs="0" name="TreatmentMedicines" nillable="true" type="tns:ArrayOfTreatmentMedicine" />
          <xs:element minOccurs="0" name="TreatmentServices" nillable="true" type="tns:ArrayOfTreatmentService" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Treatment" nillable="true" type="tns:Treatment" />
  <xs:complexType name="ArrayOfTreatmentMedicine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentMedicine" nillable="true" type="tns:TreatmentMedicine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentMedicine" nillable="true" type="tns:ArrayOfTreatmentMedicine" />
  <xs:complexType name="TreatmentMedicine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="BasePrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Medicine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MedicineId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TreatmentId" type="xs:int" />
          <xs:element minOccurs="0" name="TreatmentMedicineId" type="xs:int" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TreatmentMedicine" nillable="true" type="tns:TreatmentMedicine" />
  <xs:complexType name="ArrayOfTreatmentService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreatmentService" nillable="true" type="tns:TreatmentService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreatmentService" nillable="true" type="tns:ArrayOfTreatmentService" />
  <xs:complexType name="TreatmentService">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="BasePrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TreatmentId" type="xs:int" />
          <xs:element minOccurs="0" name="TreatmentServiceId" type="xs:int" />
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TreatmentService" nillable="true" type="tns:TreatmentService" />
</xs:schema>