Medical.Apartment.Silverlight.UI/Service References/ApartmentService/ApartmentService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49666/Services/ApartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Medical.Apartment.Web.UI" />
  <xs:import schemaLocation="http://localhost:49666/Services/ApartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:49666/Services/ApartmentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" />
  <xs:import schemaLocation="http://localhost:49666/Services/ApartmentService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SelectSessionId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectSessionIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Medical.Apartment.Web.UI" minOccurs="0" name="GetUserLoginResult" nillable="true" type="q1:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Medical.Apartment.Web.UI" minOccurs="0" name="GetAppSettingsResult" nillable="true" type="q2:AppSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalVariable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Medical.Apartment.Web.UI" minOccurs="0" name="GetGlobalVariableResult" nillable="true" type="q3:GlobalVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="GetAspUserResult" nillable="true" type="q5:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="aspUser" nillable="true" type="q6:AspUser" />
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAspUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="oldUser" nillable="true" type="q7:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="UnlockAspUserResult" nillable="true" type="q8:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveUser" nillable="true" type="q9:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="SaveAspUserResult" nillable="true" type="q10:AspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListCountryResult" nillable="true" type="q11:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryid" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListCityResult" nillable="true" type="q12:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="districtId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListDistrictResult" nillable="true" type="q13:ArrayOfDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactInfoId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListContactInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListContactInformationResult" nillable="true" type="q14:ArrayOfContactInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q15:ArrayOfContactInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrganisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListOrganisationResult" nillable="true" type="q17:ArrayOfOrganisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrgAdminAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOrgAdminAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListOrgAdminAspUserResult" nillable="true" type="q19:ArrayOfAspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganisations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q20:ArrayOfOrganisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganisationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="GetOrganisationResult" nillable="true" type="q21:Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorisationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="GetOrganisationByCodeResult" nillable="true" type="q22:Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
        <xs:element minOccurs="0" name="loadContact" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListSiteResult" nillable="true" type="q23:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q24:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasContracts" type="xs:boolean" />
        <xs:element minOccurs="0" name="contractDateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="contractDateEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListCustomerResult" nillable="true" type="q25:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q26:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="SaveCustomerResult" nillable="true" type="q27:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListDoctorResult" nillable="true" type="q28:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q29:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="SaveDoctorResult" nillable="true" type="q30:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q31:guid" />
        <xs:element minOccurs="0" name="isLegacy" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListAspUserResult" nillable="true" type="q32:ArrayOfAspUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListUserNameResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembershipUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMembershipUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMembershipUserNameResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListComponentResult" nillable="true" type="q34:ArrayOfComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q35:guid" />
        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListRoleComponentPermissionResult" nillable="true" type="q36:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRoleComponentPermissionByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListRoleComponentPermissionByUserResult" nillable="true" type="q38:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleComponentPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q39:ArrayOfRoleComponentPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRoleComponentPermissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAspRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListAspRoleResult" nillable="true" type="q41:ArrayOfAspRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q42:ArrayOfAspRole" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAspRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserRoleAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" nillable="true" type="q43:guid" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="roleId" nillable="true" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserRoleAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListUserRoleAuthResult" nillable="true" type="q45:ArrayOfUserRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRoleAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q46:ArrayOfUserRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRoleAuthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="medicineId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMedicineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListMedicineResult" nillable="true" type="q47:ArrayOfMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q48:ArrayOfMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSiteMedicineStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="medicineId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSiteMedicineStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListSiteMedicineStatusResult" nillable="true" type="q49:ArrayOfMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMedicineInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="medicineId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMedicineInputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListMedicineInputResult" nillable="true" type="q50:ArrayOfMedicineInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicineInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q51:ArrayOfMedicineInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMedicineInputResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organisationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showLegacy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListServiceResult" nillable="true" type="q52:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q53:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="imageTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="loadType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListImageResult" nillable="true" type="q54:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q55:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="treatmentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListTreatmentResult" nillable="true" type="q56:ArrayOfTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q57:ArrayOfTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatmentMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentMedicineId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="treatmnentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatmentMedicineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListTreatmentMedicineResult" nillable="true" type="q58:ArrayOfTreatmentMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatmentMedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q59:ArrayOfTreatmentMedicine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatmentMedicineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatmentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treatmentServiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="treatmnentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTreatmentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="ListTreatmentServiceResult" nillable="true" type="q60:ArrayOfTreatmentService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatmentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Medical.Apartment.Common" minOccurs="0" name="saveList" nillable="true" type="q61:ArrayOfTreatmentService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTreatmentServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>